<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>买单返商户版</title>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="../lib/amazeui/dist/css/amazeui.min.css">
    <link rel="stylesheet" href="../lib/sweetalert/dist/sweetalert.css">
    <link rel="stylesheet" href="../css/login.css">
    <!--融云推送-->
    <!--<script src="https://cdn.ronghub.com/RongIMLib-2.2.5.min.js"></script>-->

</head>
<body>
<!--买单反logo开始-->
<div class="nav">
    <h2>消费即返利，单单返红包</h2>
</div>
<div class="body">
    <div class="header">
        <img class="logo" src="../img/logo1.png" alt="买单返">
    </div>

    <!--买单反logo结束-->
    <!--页面名称开始-->
        <!-- 登陆框 -->
        <div class="am-u-sm-9 am-u-sm-centered" id="signForm">
            <form class="am-form" method="post">
                <fieldset class="am-form-set">
                    <div class="am-form-group am-form-icon">
                        <i class="am-icon-user"></i>
                        <input type="text" name="tel" id="tel" class="am-form-field am-radius" placeholder="请输入您的店铺名">
                    </div>
                    <div class="am-form-group am-form-icon password1">
                        <i class="am-icon-lock"></i>
                        <input type="password" name="password" id="password" class="am-form-field am-radius" placeholder="请输入密码">
                    </div>
                </fieldset>
                <input type="button" id="login" class="am-btn am-btn-danger am-btn-block   am-radius" value="登 录">
            </form>
        </div>
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="tittle">买单返商户版</div>
<!--页面结束-->
<!--弹框-->
<script src="../lib/sweetalert/dist/sweetalert.min.js"></script>
<!--弹框-->
<script src="../lib/amazeui/dist/js/amazeui.min.js"></script>
<script src="../lib/jquery/dist/jquery.min.js"></script>
<script src="../js/login.js"></script>
</body>
</html>