body {
    background-color: #f0f0f2;
}

.nav {
    position: fixed;
    top: 0;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #e84e40;
    color: #ffffff;
}
.icon1 {
    width: 28px;
    position: absolute;
    left: 10px;
}

.arrows {
    width: 24px;
    position: absolute;
    right: 10px;
}

.setting {
    position: absolute;
    width: 44px;
    right: 10px;
    top: 4px;
}
.am-offcanvas-bar{
    color: rgb(31,26,23);
    background-color:  rgb(255,255,255);
}

.body {
    margin: 50px auto;
}

.tittle {
    height: 40px;
    line-height: 40px;
    background-color: #f0f0f2;
    text-align: center;
    color: #aba7b1;
}

.dark-button {
    background-color: #e8e8e8;
}

.light-button {
    background-color: #faf7fa;
}

td {
    border-top: none !important;
}

li {
    list-style: none;
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: #e3e1e1;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.sweet-alert{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.sweet-alert button{
    font-size: 16px;
    margin: auto;
}
.sweet-alert h2{
    font-size: 18px;
}
.sweet-alert .sa-icon{
    margin: 0 auto;
}